{% extends 'farmer/base.html' %}
<title>Farmer | Dashboard</title>
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Selamat Datang Petani        
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
    	<h4>Pada sistem ini terdapat beberapa halaman yang dapat diakses oleh petani</h4>      
      <i class="fa fa-circle"></i> <label>Beranda</label>
      <p>Pada halaman ini petani dapat melihat halaman awal yang berisi penjelasan halaman yang dapat diakses oleh petani</p>
      <i class="fa fa-circle"></i> <label>Buat Pengajuan</label>
      <p>Pada halaman ini petani dapat membuat pengajuan lahan dengan mengisi form yang sudah disediakan</p>
      <i class="fa fa-circle"></i> <label>Daftar Pengajuan</label>
      <p>Pada halaman ini petani dapat melihat daftar pengajuan lahan yang sudah diajukan</p>
      <i class="fa fa-circle"></i> <label>Buat Peminjaman</label>
      <p>Pada halaman ini petani dapat membuat peminjaman uang dengan mengisi form yang sudah disediakan</p>
      <i class="fa fa-circle"></i> <label>Daftar Peminjaman</label>
      <p>Pada halaman ini petani dapat melihat daftar peminjaman uang yang sudah diajukan</p>
      <i class="fa fa-circle"></i> <label>Data Lahan</label>
      <p>Pada halaman ini petani dapat melihat data lahan yang dimiliki petani </p>
      <i class="fa fa-circle"></i> <label>Data Diri</label>
      <p>Pada halaman ini petani dapat melihat data diri petani dan melakukan perubahan pada data diri</p>
    </section>	
{% endblock %}

