{% extends 'staff/base.html' %}
<title>Staff | Dashboard</title>
{% load staticfiles %}
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detail Pengajuan Lahan di Pending
        <a href="{% url 'staff:pendingPengajuanLahan' %}" class="btn btn-success btn">Kembali</a>        
      </h1>

    </section>
    <!-- Main content -->
    <section class="content">      
      <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Berikut adalah detail ajuan lahan yang dipending</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {% for pending in pengajuan_pending %}            
              <div class="box-body">
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Username</label>

                  <div class="col-sm-10">
                    <p>{{ pending.farmer.username }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Nama Lengkap</label>

                  <div class="col-sm-10">
                    <p>{{ pending.farmer.full_name }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Alamat Petani</label>

                  <div class="col-sm-10">
                    <p>{{ pending.farmer.alamat }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Luas Lahan</label>

                  <div class="col-sm-10">
                    <p>{{ pending.luas_lahan }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Alamat Lahan</label>

                  <div class="col-sm-10">
                    <p>{{ pending.alamat_lahan }}</p>
                  </div>
                </div>                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Keterangan Lahan</label>

                  <div class="col-sm-10">
                    <p>{{ pending.keterangan }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Sertifikat Lahan</label>

                  <div class="col-sm-10">                    
                    <div class="user-panel">
                      <img src="{% static pending.image_certificate %}" class="img-square" alt="User Image" width=35%>                      
                    </div>
                  </div>
                </div>
                {% for gambar in gambar_pending %}
                {% if gambar.gambar == 'image1' %}
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Gambar Lahan 1</label>
                  <div class="col-sm-10">                    
                    <div class="user-panel">
                      <img src="{% static gambar.image %}" class="img-square" alt="User Image" width=35%>                      
                    </div>
                  </div>
                </div>
                {% elif gambar.gambar == 'image2' %}
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Gambar Lahan 2</label>
                  <div class="col-sm-10">                    
                    <div class="user-panel">
                      <img src="{% static gambar.image %}" class="img-square" alt="User Image" width=35%>                      
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="form-group">
                  <label  class="col-sm-2 control-label">Gambar Lahan 3</label>
                  <div class="col-sm-10">                    
                    <div class="user-panel">
                      <img src="{% static gambar.image %}" class="img-square" alt="User Image" width=35%>                      
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>              
            {% endfor %}
          </div>
    </section>  
{% endblock %}