{% extends 'staff/base.html' %}
<title>Admin | Dashboard</title>
{% block body_block %}
{% load staticfiles %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Daftar Pengajuan Peminjaman <a href="/staff/accept-peminjaman-uang/" class="btn btn-warning btn-lg">Belum Dipinjam</a>&nbsp; &nbsp; &nbsp;<a href="/staff/accept-peminjaman-uang-sudah/" class="btn btn-success btn-lg">Sudah Dipinjam</a>       
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Pengajuan Peminjaman disetujui dan belum dipinjam</h3>              
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="example2" class="table table-hover">
              <thead>
                <tr>
                  <th>Username</th>             
                  <th>Nama Lengkap</th>                                    
                  <th>Status</th>
                  <th>Besar Peminjaman</th>                                    
                  <th>Tanggal Peminjaman</th>
                  <th>Aksi</th>
                </tr>         
              </thead>  
                {% for belum in peminjaman_uang %}
                <tr>                  
                  <td>{{ belum.farmer.username }} </td>                  
                  <td>{{ belum.farmer.full_name }} </td>                                                   
                  <td><span class="label label-warning">Belum Dipinjam</span></td>
                  <td>{{ belum.besar_peminjaman }} </td>                  
                  <td>{{ belum.tanggal_peminjaman }} </td>                  
                  <td><a href="/staff/detail-peminjaman-belum/{{ belum.id }}" class="btn btn-info">Detail</a>&nbsp; &nbsp; &nbsp;<a href="/staff/konfirmasi-peminjaman/{{ belum.id }}" class="btn btn-success">Konfirmasi</a>
                </tr>
                {% endfor %}
              </table>

            </div>
            <!-- /.box-body -->
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
              {% if peminjaman_uang.has_previous %}
                <li><a href="?page={{ peminjaman_uang.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li><a disabled>&laquo;</a></li>
              {% endif %}                
              {% for pg in peminjaman_uang.paginator.page_range %}
                {% if peminjaman_uang.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
              {% endfor %}
              {% if peminjaman_uang.has_next %}
                <li><a href="?page={{ peminjaman_uang.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li><a disabled>&raquo;</a></li>
              {% endif %}                              
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>      
    </section>
{% endblock %}