{% extends 'staff/base.html' %}
<title>Admin | Dashboard</title>
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Ganti Password        
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Silahkan ubah password anda dengan mengisi form ini</h3>
            </div>
    	<form class="form-horizontal" role="form" action="/staff/ganti-password/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label  class="col-sm-3 control-label">Password Lama</label>

        <div class="col-sm-9">
        <input type="password" class="form-control" name="old_password" placeholder="Masukkan Password Lama" required>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-3 control-label">Password Baru</label>

        <div class="col-sm-9">
        <input type="password" class="form-control" name="password1" placeholder="Masukkan Password Baru" required>
        </div>
      </div>
      <div class="form-group">
        <label  class="col-sm-3 control-label">Password Kembali</label>

        <div class="col-sm-9">
        <input type="password" class="form-control" name="password2" placeholder="Masukkan Password Kembali" required>
        </div>
      </div>
                <div class="box-footer">
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary pull-right">Ganti</button>
              </div>
              <!-- /.box-footer -->
            </form>
            </div>
            </div>            
    </section>	
{% endblock %}

