{% extends 'staff/base.html' %}
<title>Admin | Dashboard</title>
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Selamat Datang Admin        
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <h4>Pada sistem ini terdapat beberapa halaman yang dapat diakses oleh admin</h4>      
      <i class="fa fa-circle"></i> <label>Beranda</label>
      <p>Pada halaman ini admin dapat melihat halaman awal yang berisi penjelasan halaman yang dapat diakses oleh admin</p>      
      <i class="fa fa-circle"></i> <label>Tambah Admin</label>
      <p>Pada halaman ini admin dapat menambah akun admin, surveyer, dan quality control</p>      
      <i class="fa fa-circle"></i> <label>Daftar Admin</label>
      <p>Pada halaman ini admin dapat melihat daftar staff</p>      
      <i class="fa fa-circle"></i> <label>Pengajuan Pending</label>
      <p>Pada halaman ini admin dapat melihat daftar pengajuan lahan yang dipending</p>      
      <i class="fa fa-circle"></i> <label>Pengajuan Ditolak</label>
      <p>Pada halaman ini admin dapat melihat daftar pengajuan lahan yang ditolak</p>      
      <i class="fa fa-circle"></i> <label>Peminjaman Pending</label>
      <p>Pada halaman ini admin dapat melihat daftar pengajuan peminjaman uang yang dipending</p>      
      <i class="fa fa-circle"></i> <label>Peminjaman Disetujui</label>
      <p>Pada halaman ini admin dapat melihat daftar pengajuan peminjaman uang yang disetujui</p>      
      <i class="fa fa-circle"></i> <label>Peminjaman Ditolak</label>
      <p>Pada halaman ini admin dapat melihat daftar pengajuan peminjaman uang yang ditolak</p>      
      <i class="fa fa-circle"></i> <label>Data Petani</label>
      <p>Pada halaman ini admin dapat melihat daftar petani dan lahan dari petani</p>      
      <i class="fa fa-circle"></i> <label>Ubah Password</label>
      <p>Pada halaman ini admin dapat melakukan perubahan password</p>      
    </section>  
{% endblock %}  

