{% extends 'surveyer/base.html' %}
<title>Admin | Dashboard</title>
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Selamat Datang Surveyer        
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <h4>Pada sistem ini terdapat beberapa halaman yang dapat diakses oleh surveyer</h4>      
      <i class="fa fa-circle"></i> <label>Beranda</label>
      <p>Pada halaman ini surveyer dapat melihat halaman awal yang berisi penjelasan halaman yang dapat diakses oleh surveyer</p>      
      <i class="fa fa-circle"></i> <label>Data Petani</label>
      <p>Pada halaman ini surveyer dapat melihat daftar petani dan lahan dari petani dan melakukan perubahan pada data lahan</p>      
      <i class="fa fa-circle"></i> <label>Ubah Password</label>
      <p>Pada halaman ini surveyer dapat melakukan perubahan password</p>      
    </section>  
{% endblock %}

