{% extends 'quality_control/base.html' %}
<title>Quality Control | Dashboard</title>
{% block body_block %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Selamat Datang Quality Control        
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <h4>Pada sistem ini terdapat beberapa halaman yang dapat diakses oleh Quality Control</h4>      
      <i class="fa fa-circle"></i> <label>Beranda</label>
      <p>Pada halaman ini Quality Control dapat melihat halaman awal yang berisi penjelasan halaman yang dapat diakses oleh Quality Control</p>      
      <i class="fa fa-circle"></i> <label>Data Petani</label>
      <p>Pada halaman ini Quality Control dapat melihat daftar petani dan lahan dari petani dan melakukan perubahan pada data lahan</p>      
      <i class="fa fa-circle"></i> <label>Ubah Password</label>
      <p>Pada halaman ini Quality Control dapat melakukan perubahan password</p>      
    </section>	
{% endblock %}

